name: release
on:
  push:
    tags:
      - "*"
jobs:
  publish:
    name: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: '1.21'
          cache: false

      - name: Set env
        shell: bash
        run: |
          echo "GOPATH=${{ github.workspace }}" >> $GITHUB_ENV
          echo "${{ github.workspace }}/bin" >> $GITHUB_PATH
      - uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: go-release-${{ hashFiles('**/go.sum') }}
          restore-keys: go-release-
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: src/github.com/kubernetes-sigs/cri-tools
      - run: |
          make release-notes release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        working-directory: src/github.com/kubernetes-sigs/cri-tools
      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: src/github.com/kubernetes-sigs/cri-tools/_output/releases/*
          bodyFile: src/github.com/kubernetes-sigs/cri-tools/release-notes.md
          token: ${{ secrets.GH_TOKEN }}
      - uses: actions/upload-artifact@v3
        with:
          name: release-notes
          path: src/github.com/kubernetes-sigs/cri-tools/release-notes.md
      - uses: actions/upload-artifact@v3
        with:
          name: build-artifacts
          path: src/github.com/kubernetes-sigs/cri-tools/_output
